.curriculum.tex
*.aux
*.bbl
*.blg
*.log
*.out
*~
.directory
curriculum.pdf
curriculum-ita.pdf
cv-2-pager.pdf
*.run.xml
*.bcf
*.backup
*.synctex.gz
*.fls
*.fdb_latexmk
scholar.tex
scholar-summary.tex
*.rubbercache
*.synctex*
.idea/
*.dvi
